RewriteEngine On

RewriteRule ^Ajax/(.*)/(.*)$ /~christian/_mvc_webftp/index.php?module=ajax&ajaxmodul=$1&$2

RewriteRule ^User$ /~christian/_mvc_webftp/index.php?module=user

RewriteRule ^$ /~christian/_mvc_webftp/index.php