RewriteEngine On

RewriteRule ^[Aa]jax/(.*)/(.*)$ index.php?module=ajax&ajaxmodul=$1&$2

RewriteRule ^[Uu]ser/(.*)$ index.php?module=user&menu=$1

RewriteRule ^([a-z,A-Z]+)$ index.php?module=$1

RewriteRule ^$ index.php