* {
	font-size: 14px;
}
body {
	font-family: Tahoma, Verdana, Arial;
	background: #255c9f url(../images/background.png) repeat-x fixed;
	font-size: 14px;
	overflow-y: scroll;
	padding-bottom: 10px;
	cursor: default;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: #000;
}

#login-box {
	width: 300px;
	background: #f4f4f4;
	padding: 0 15px 5px 15px;
	margin-top: 150px;
	-moz-box-shadow: 0 0 10px #000;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #000;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	
	position: relative;
	z-index: 10;
}
form {
	text-align: left;
}
label {
	cursor: pointer;
}
#login {
	margin: 10px 5px 5px 20px;
}
#login-form input {
	height: 25px;
	margin: 4px 0;
	border: 1px solid #8a8a8a;
	padding: 3px 3px 3px 5px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#login-form input:hover {
	border: 1px solid #4a99e3;
}
#login-form input:focus {
	background: #e5f2ff;
	border: 1px solid #4a99e3;
	-moz-box-shadow:  0 0 5px #c1e5ff;
	-webkit-box-shadow:  0 0 5px #c1e5ff;
	box-shadow:  0 0 5px #c1e5ff;
	
	outline: none;
}
#login-form input[type=submit]:focus {
	-moz-box-shadow: inset 0 0 3px #9d9d9d;
	-webkit-box-shadow: inset 0 0 3px #9d9d9d;
	box-shadow: inset 0 0 3px #9d9d9d;
}

#tab_div {
	margin-bottom: 10px;
}
ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.tabs li {
	background: #d6eaff;
	display: inline-block;
	margin: 0 5px;
	border-width: 0 1px 1px 1px;
	border-color: #8aceff;
	border-style: solid;
	border-radius: 0 0 5px 5px;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	padding: 3px 12px;
	display: block;
	border-width: 0 1px 1px 1px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 0 0 5px 5px;
}
ul.tabs li a.active {
	text-decoration: none;
	color: #FFF;
	padding: 3px 12px;
	display: block;
}
ul.tabs li > a.active {
	background: #8aceff;
}

#settings {
    background: #ededed;
    position: fixed;
    top: -130%;
    width: 60%;
    margin-left: -30%;
    left: 50%;
    padding: 7px;
    z-index: 100;
    -moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#settings a {
	font-size: 12px;
}
#settings_button {
    background: #ededed;
    position: fixed;
    top: 0;
    padding: 7px;
    z-index: 999;
    -moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#settings_button img:hover {
    -moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
}

#bottomAction {
	background: #ededed;
	text-align: left; 
	width: 280px;
	top: -130%;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
	padding: 10px 0 20px 0;
}