#topMenu {
	position: fixed;
	top: 0;
	left: 0;
	height: 22px;
	line-height: 22px;
	width: 100%;
	background: #EEE;
	opacity: 0.95;
	z-index: 100;
	overflow: hidden;
	box-shadow: 0 0 7px #222;
}

#topMenu > .content {
	height: 100%;
	padding: 0 5px;
	z-index: 100;
	position: relative;
}

#topMenu > .content > ul {
	margin: 0 0 0 6px;
	padding: 0;
}

#topMenu > .content > ul > .marked {
	background: #44F;
	color: #FFF;
}

#topMenu > .content > ul > li {
	padding: 3px 7px;
	display: inline;
	margin-left: -4px
}

#topMenu > .content > ul > li:hover {
	cursor: pointer;
}

#topMenu > .menu {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

#topMenu > .menu > div {
	background-color: #FFF;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 5px #000;
	display: inline;
	position: relative;
	padding: 1px 5px;
	margin-left: -4px;
}

#topMenu > .hider {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
	top: -100%;
}

#topMenu > .hider > .background {
	position: relative;
	top: -30px;
	left: -30px;
	width: 200%;
	height: 60px;
	box-shadow: 0 0 30px #333 inset;
}