#topMenu {
	position: fixed;
	opacity: 0.95;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
}

#topMenu > .bar {
	height: 22px;
	line-height: 22px;
	background: #EEE;
	z-index: 100;
	box-shadow: 0 0 7px #222;
}

#topMenu > .bar > .content {
	height: 100%;
	padding: 0 5px;
	z-index: 100;
	position: absolute;
	width: 100%;
}

#topMenu > .bar > .content > ul {
	margin: 0 0 0 6px;
	padding: 0;
	overflow: hidden;
}

#topMenu > .bar > .content > ul > .marked {
	background: #44F;
	color: #FFF;
}

#topMenu > .bar > .content > ul > li {
	padding: 3px 7px;
	display: inline;
}

#topMenu > .bar > .content > ul > li:hover {
	cursor: pointer;
}

#topMenu > .menu {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	z-index: 300;
	top: 1px;
}

#topMenu > .menu > div {
	background: #FEFEFE;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 5px #000;
	display: inline-block;
	position: relative;
}

#topMenu > .menu > div > ul {
	padding: 4px 0;
	margin: 0;
	list-style-type: none;
}

#topMenu > .menu > div > ul > li.spacer {
	padding: 0;
}

#topMenu > .menu > div > ul > li.spacer:hover {
	background: #FEFEFE;
	color: #000;
}

#topMenu > .menu > div > ul > li.spacer > hr {
	border-width: 1px 0 0 0;
	border-color: #E3E3E3;
	border-style: solid;
}

#topMenu > .menu > div > ul > li > a {
	padding: 2px 10px;
	display: block;
	text-decoration: none;
	color: #000;
}

#topMenu > .menu > div > ul > li > a:hover {
	background: #44F;
	color: #FFF;
	cursor: pointer;
}

#topMenu > .bar > .hider {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#topMenu > .bar > .hider > .background {
	position: relative;
	top: -30px;
	left: -30px;
	width: 200%;
	height: 60px;
	box-shadow: 0 0 30px #333 inset;
}