/* Allgemeine Styles */
* {
	font-size: 14px;
}
body {
	font-family: Tahoma, Verdana, Arial;
	background: #255c9f url(../images/background.png) repeat-x fixed;
	overflow-y: scroll;
	cursor: default;
}

/* Link Styles */
a:hover {
	text-decoration: none;
}
a:visited {
	color: #000;
}
a.href {
	cursor: pointer;
}

/* Allgemeine Klassen */
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
.hidden {
	display: none;
}
	
.window {
	width: 600px; 
	background-color: #dbdbdb; 
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	text-align: left;	
	position: relative;
	margin-top: 100px;
}

.window .head {
	height: 35px; 
	background-color: #f0f0f0; 
	border-radius: 10px 10px 0 0; 
	border-bottom: 1px solid #777; 
	overflow: hidden;
	position: relative;
}

.window .head .text {
	float: left;
	width: 100%;
	padding: 6px 0;
	text-align: center;
	color: #181818;
	font-size: 15px;
}

.window .head .background {
	position: relative;
	left: -50px;
	width: 200%;
	top: -50px;
	height: 85px;
	box-shadow: 0 0 60px #888 inset;
}

.window .foot {
	height: 35px; 
	background-color: #f0f0f0; 
	border-radius: 0 0 10px 10px; 
	border-top: 1px solid #777;
}

.window .mainpart {
	overflow: hidden; 
	height: 350px;
}

.window .mainpart .menu {
	width: 70px; 
	background-color: #444;
	height: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 0 0 0 10px;
	float: left;
}

.window .mainpart .menu .item {
	border-bottom: 1px #4d4d4d solid;
	position: relative;
	left: -5px;
	width: 80px;
}

.window .mainpart .menu .item:hover {
	cursor: pointer;
}

.window .mainpart .menu .checked .content {
	background-color: #3c3c3c !important; 
	box-shadow: 3px 0 3px #000, 0 0 2px #222 inset;
	color: #aaa !important;
}

.window .mainpart .menu .item .content {
	background-color: #454545; 
	height: 68px; 
	border-bottom: 1px #282828 solid;
	text-align: center;
	color: #707070;
	vertical-align: 20%;
	font-size: 11px;
}

.window .mainpart .menu .item .content .icon {
	width: 32px; 
	height: 32px;
	margin: 0 auto 12px auto;
	top: 7px;
	position: relative;
}

.window > .mainpart > .content {
	margin-left: 70px; 
	height: 100%;
	position: relative;
}

.window > .mainpart > .content > div {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*
 * History Tab
 */
.window > .mainpart > .content > div > .history {
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	width: 40%;
	height: 100%;
}

.window > .mainpart > .content > div > .history > .item {
	width: 100%;
	height: 40px;
}

.window > .mainpart > .content > div > .history > .item.marked {
	width: 100%;
	height: 40px;
	background-color: #3088CD;
	color: #FFF;
	position: relative;
	overflow: hidden;
}

.window > .mainpart > .content > div > .history > .item > .shadow {
	display: none;
	position: absolute;
	left: -50px;
	width: 200%;
	height: 200%;
	box-shadow: #DADADA 0px 0px 50px inset;
	border-bottom: 1px solid #9BAAC3
}

.window > .mainpart > .content > div > .history > .item.marked > .shadow {
	display: block !important;
}

.window > .mainpart > .content > div > .history > .item > .text {
	position: relative; 
	top: 3px; 
	left: 10px;
}

.window > .mainpart > .content > div > .history > .item > .text > .info {
	font-size: 10px;
	color: #888;
}

.window > .mainpart > .content > div > .history > .item.marked > .text > .info {
	font-size: 10px;
	color: #FFF !important;
}


/*
 * Server Tab
 */
.window > .mainpart > .content > div > .server {
	position: relative;
	height: 100%;
}

.window > .mainpart > .content > div > .server > .list {
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	width: 40%;
	overflow-y: auto;
	top: 0;
	bottom: 20px;
}

.window > .mainpart > .content > div > .server > .list > .item {
	width: 100%;
	height: 40px;
	overflow: hidden;
	position: relative;
}

.window > .mainpart > .content > div > .server > .list > .item.marked {
	background-color: #3088CD;
	color: #FFF;
}

.window > .mainpart > .content > div > .server > .list > .item > .shadow {
	display: none;
	position: absolute;
	left: -50px;
	width: 200%;
	height: 200%;
	box-shadow: #DADADA 0px 0px 50px inset;
	z-index: 30;
}

.window > .mainpart > .content > div > .server > .list > .item.marked > .shadow {
	display: block !important;
}

.window > .mainpart > .content > div > .server > .list > .item > .gradient {
	position: absolute;
	right: 20px;
	top: -25px;
	width: 200%;
	height: 200%;
	box-shadow: #FFF -45px 0px 30px inset;
	z-index: 20
}

.window > .mainpart > .content > div > .server > .list > .item.marked > .gradient {
	box-shadow: #3088CD -45px 0px 30px inset !important;
}

.window > .mainpart > .content > div > .server > .list > .item > .text {
	position: absolute; 
	top: 3px; 
	left: 10px;
	right: 20px;
	z-index: 10;
	overflow: hidden;
}

.window > .mainpart > .content > div > .server > .list > .item > .text > .info {
	font-size: 10px;
	color: #888;
	white-space: nowrap;
}

.window > .mainpart > .content > div > .server > .list > .item.marked > .text > .info {
	font-size: 10px;
	color: #FFF !important;
}

.window > .mainpart > .content > div > .server > .detail {
	background-color: #E4E4E4; 
	position: absolute; 
	left: 40%; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	margin-left: 12px;
	border-radius: 4px;
	border: 1px solid #AAA;
	background-color: #CCC;
}

.triangle {
	border-color: transparent #dbdbdb transparent transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	left: 50px;
	top: 24px;
}