/* Allgemeine Styles */
* {
	font-size: 14px;
}
body {
	font-family: Tahoma, Verdana, Arial;
	background: #255c9f url(../images/background.png) repeat-x fixed;
	font-size: 14px;
	overflow-y: scroll;
	cursor: default;
}

/* Link Styles */
a:hover {
	text-decoration: none;
}
a:visited {
	color: #000;
}
a.href {
	cursor: pointer;
}

/* Allgemeine Klassen */
.right {
	float: right;
}
	
.window {
	width: 600px; 
	background-color: #dbdbdb; 
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	text-align: left;	
	position: relative;
	margin-top: 100px;
}

.window .head {
	height: 35px; 
	background-color: #f0f0f0; 
	border-radius: 10px 10px 0 0; 
	border-bottom: 1px solid #777; 
	overflow: hidden;
	position: relative;
}

.window .head .text {
	float: left;
	width: 100%;
	padding: 6px 0;
	text-align: center;
	color: #181818;
	font-size: 15px;
}

.window .head .background {
	position: relative;
	left: -50px;
	width: 200%;
	top: -50px;
	height: 85px;
	box-shadow: 0 0 60px #888 inset;
}

.window .foot {
	height: 35px; 
	background-color: #f0f0f0; 
	border-radius: 0 0 10px 10px; 
	border-top: 1px solid #777;
}

.window .mainpart {
	overflow: hidden; 
	height: 350px;
}

.window .mainpart .menu {
	width: 70px; 
	background-color: #444;
	height: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 0 0 0 10px;
	float: left;
}

.window .mainpart .menu .item {
	border-bottom: 1px #4d4d4d solid;
	position: relative;
	left: -5px;
	width: 80px;
}

.window .mainpart .menu .item:hover {
	cursor: pointer;
}

.window .mainpart .menu .checked .content {
	background-color: #3c3c3c !important; 
	box-shadow: 3px 0 3px #000, 0 0 2px #222 inset;
	color: #aaa !important;
}

.window .mainpart .menu .item .content {
	background-color: #454545; 
	height: 68px; 
	border-bottom: 1px #282828 solid;
	text-align: center;
	color: #707070;
	vertical-align: 20%;
	font-size: 11;
}

.window .mainpart .menu .item .content .icon {
	width: 32px; 
	height: 32px;
	margin: 0 auto 12px auto;
	top: 7px;
	position: relative;
}

.window > .mainpart > .content {
	margin-left: 70px; 
	height: 100%;
}

.window > .mainpart > .content > div {
	padding: 5px;
}

.triangle {
	border-color: transparent #dbdbdb transparent transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	left: 50px;
	top: 24px;
}